[Unit]
Description=Gunicorn instance for {{ app_name }}
After=network.target

[Service]
User={{ app_user }}
Group=www-data
RuntimeDirectory=gunicorn_{{ app_name }}
UMask=002

Environment="DB_HOST={{ db_host }}"
Environment="DB_USER={{ db_user }}"
Environment="DB_PASSWORD={{ db_password }}"

ExecStart=/bin/bash -c "set -e; cd /opt/{{ app_name }} && /opt/{{ app_name }}/venv/bin/gunicorn --workers 3 --bind unix:/run/gunicorn_{{ app_name }}/gunicorn.sock --access-logfile - --error-logfile - --log-level {{ 'debug' if app_debug_mode else 'info' }} main:app"

ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
TimeoutStartSec=180
Restart=always
RestartSec=10
PrivateTmp=true

[Install]
WantedBy=multi-user.target
